{% extends "govuk_template.html" %}

{% block head %}
  <!--[if gt IE 8]><!-->
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main.css') }}" />
  <!--<![endif]-->
  <style>
      #global-header-bar { background-color: {{header_colour}} }
  </style>
  <!--[if IE 6]>
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main-ie6.css') }}" />
  <![endif]-->
  <!--[if IE 7]>
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main-ie7.css') }}" />
  <![endif]-->
  <!--[if IE 8]>
  <link rel="stylesheet" media="screen" href="{{ asset_url('stylesheets/main-ie8.css') }}" />
  <![endif]-->
  {% block meta %}
  {% endblock %}
{% endblock %}

{% set _per_page_title %}
  {% block per_page_title %}Document Download{% endblock %}
{% endset %}

{% block page_title %}
  {{ _per_page_title }} – GOV.UK
{% endblock %}

{% block content %}
	<div id="content">
		<main role="main">
			<div class="grid-row">
				<div class="column-two-thirds">
          <h1 class="heading-large">{{ _per_page_title }}</h1>
					{% block main_content %}{% endblock %}
				</div>
			</div>
		</main>
	</div>
{% endblock %}
